<div class="text-left">
  <h2>{{title}}</h2>
  <p>{{post_text}}</p>
  <p>Created by: {{post.user.name}} on {{format_date date_created}}</p>
  
  <p>
    <button class="btn btn-light">Update</button>
    <button class="btn btn-light">Delete</button>
  </p>
</div>