header, .project:not(:last-child) {
    border-bottom: 1px solid #ccc;
  }
  
  .my-nav {
    margin-left: 10%;
    margin-right: 10%;
    width: 100%;
   }
  
  .my-header {
    width: 100%;
    border-bottom: solid lightgrey; 
    margin-bottom: 2%;
  }
  
  .my-table {
    width: 100%;
  }
  
  .my-title-l {
    color: black;
    font-size: larger;
  }
  
  .my-title-r {
    text-align: right;
  }
  
  .my-text {
    border-bottom: solid lightgrey;
  }
  